#C_Card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#C_boxH{
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    position: relative;
}

#C_form{
    display: flex;
    flex-direction: column;

    background-color: aqua;
}

.CommentsWrapper{
}

.CommentWrapper{

}

